@import "../../../styles/variables";

@mixin game() {
  :host {
    width: 100%;
    display: block;

    .game {
      height: 100vh;
      width: 100%;
      overflow: hidden;
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(center);
    }

    .status,
    app-scoreboard {
      height: 64px;
    }

    .status {
      @include flexbox-center();
    }

    app-table {
      width: 75%;
      height: calc(70% - 128px);
      margin: 0 auto;
    }

    app-cards {
      height: 30%;
      @include flexbox-center();
    }
  }
}
@mixin game-mobile() {
  @include for-phone-only {
    :host {
      app-table {
        width: 100%;
      }
    }
  }
}

@mixin game-theme {
  :host {
    background: #eaeaea;
  }
}

@include game();
@include game-mobile();
@include game-theme();
